<% provide(:meeting, "active") %>
<div class="container">
	<div class="meeting-new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h5 class="text-center">Add New Meeting</h5>
			<%= render 'form', meeting: @meeting %>
		</div>
	</div>
</div>
</div>