<% provide(:program, "active") %>
<div class="container">
	<div class="program-new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h5 class="text-center">Add New Student</h5>
			<%= render 'form', program: @program %>
		</div>
	</div>
</div>
</div>