<% provide(:advisee_list, "active") %>
<div class="container">
	<div class="faculty-new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h5 class="text-center">Add New Student</h5>
			<%= render 'form', student: @student %>
		</div>
	</div>
</div>
</div>