<% provide(:program, "active") %>
<div class="container">
  <div class="program-show">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-text text-center"><%= @program.name %></h6>
          <hr class="my-4">
          <p class="card-text"><%= @program.description %></p>
          <small>Added <%= time_ago_in_words(@program.created_at)%> ago</small>
        </div>
      </div>
    </div>
  </div>
  <% if can? :update, @program %>
    <div class="row" style="padding: 5px 0px">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= link_to 'Edit Program', edit_program_path(@program),:class=>"btn btn-danger btn-block"%>
      </div>
    </div>
  <% end %>
</div>
</div>