<% provide(:faculty, "active") %>
<div class="container">
	<div class="faculty-new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h5 class="text-center">Add New Faculty</h5>
			<%= render 'form', faculty: @faculty %>
		</div>
	</div>
</div>
</div>