<div class="home">
	<div class="row" style="margin-top: -50px">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div id="particles-js">
				<div class="row justify-content-center">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<h4>Welcome Back!</h4>
						<p>Sign-in First, Then Browse Your Each Modules From Top Navigation Menu</p>
						<p>If you face any problem using this app, please contact the <span style="color: #26A69A">admin</span> or <span style="color:#EC407A ">report bug</span>. Your co-operation will be highly appreciated</p>
						<p>
							<i class="fas fa-heart"></i>
						</p>
						<div class="my-msg" style="margin-top: 100px;border:1px solid #EEEEEE">
							<p style="padding-top: 15px">
								Experimental App For MES3043 Project
								Universiti Pendidikan Sultan Idris (UPSI)
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>