<% provide(:bug, "active") %>
<div class="container">
	<div class="bug-new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h5 class="text-center">Report New Bug</h5>
			<%= render 'form', bug: @bug %>
		</div>
	</div>
</div>
</div>